<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to profile</a>
  <h2 class="title">new post:</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">topic</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="title"/>
    </div>
    <div>
      <label for="post-content">description</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="content"/>
    </div>
    <button type="submit" class="button is-dark is-rounded is-pulled-right">post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>